<nav class="site-nav">
  <a class="nav-logo" routerLink="/">Pierre Darmstadter</a>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
    <div class="nav-sep"></div>
    <a routerLink="/oeuvres" routerLinkActive="active">Galerie</a>
    <div class="nav-sep"></div>
    <a routerLink="/artiste" routerLinkActive="active">Biographie</a>
    <div class="nav-sep"></div>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
</nav>
