<div class="header">
  <div class="container">
    <h1>PIERRE DARMSTADTER</h1>
    <nav>
      <ul>
        <span class="span--bord"></span>
        <li><a class="nav__link" routerLink="/artiste" routerLinkActive="nav__link--active">L'artiste</a></li>
        <span></span>
        <li><a class="nav__link" routerLink="/oeuvres" routerLinkActive="nav__link--active">Les œuvres</a></li>
        <span></span>
        <li><a class="nav__link" routerLink="/contact" routerLinkActive="nav__link--active">Contact</a></li>
        <span class="span--bord"></span>
      </ul>
    </nav>
  </div>
</div>
