#bottom-page {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.bottom-container {
  display: flex;
  padding: 4px 8px;
}

.contact {
  margin-left: 5px;
  margin-top: 10px;
  line-height: 0.8em;
}

.contact p {
  margin-bottom: 5px;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact a:hover {
  font-weight: bold;
}

.name {
  margin-top: 5px;
}

.copyright {
  margin-left: 30px;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
}

.copyright p {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .bottom-container {
    flex-direction: column;
  }

  .copyright {
    flex-direction: column;
    margin-left: 0;
  }

  .copyright p {
    margin-bottom: 2px;
  }
}
